#main{
    position: relative;
    width: 95%;
    height: 95%;
    left: 2.5%;
    top: 2.5%;
    background-color: white;
    border-radius: 15px;
    overflow-y: hidden;
}

#encabezado{
    height: 10%;
    border-bottom: 5px solid lightgray;
}

#titulo{
    position: absolute;
    width: 60%;
    height: 40%;
    left: 20%;
    text-align: center;
    
}

#titulo h1{
    color: black;
    margin: 0px;
    font-size: 3.8vh;
}

#principal{
    height: calc(90% - 5px);
}

#herramientas{
    position: absolute;
    width: 250px;
    left: -200px;
    border-right: 5px solid lightgray;
    transition: all 500ms;
    background-color: white;
}

#contenido{
    position: relative;
    height: 100%;
    left: 55px;
    width: calc(100% - 55px);
}

#principal .listado{
    position: relative;
    width: calc(50% - 5px);
}

#func_presentes{
    position: relative;
    border-right: 5px solid lightgray;
}

#ultimas_firmas{
    width: 50%;
}

#herramientas:hover{
    left: 1px;
}

.herramienta{
    height: 50px;
    border-bottom: 1px solid lightgray;
}

.herramienta p{
    position: relative;
    height: 50%;
    top: 25%;
    margin: 0px;
}

.herramienta:hover{
    background-color:rgb(1, 156, 99);
    color: white;
    cursor: pointer;
}

.herramienta .descripcion{
    width: calc(100% - 60px);
    padding-left: 10px;
}

.herramienta .icono{
    width: 50px;
    background-color: white;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
}

#admin_usuarios .icono{
    background-image: url("../img/login.png");
}

#admin_registros .icono{
    background-image: url("../img/file.png");
}

.listado .titulo{
    height: 30px;
    border-bottom: 5px solid lightgray;
}

.listado .titulo h2{
    position: relative;
    margin: 0px;
    text-align: center;
    font-size: 2.8vh;
    top: calc((100% - 3vh) / 2);
}

#func_presentes .contenido{
    height: calc(100% - 31px);
    overflow-y: scroll;
}


.lista_listado{
    position: relative;
    margin: 0px;
    top: 5px;
    padding: 0px;
    list-style: none;
}

.lista_listado li{
    padding: 5px;
    border-bottom: 1px dotted lightgrey;
}

.lista_listado li:hover{
    background-color: lightgrey;
}

.lista_listado li p{
    margin: 0px;
}

.lista_listado li .funcionario{
    font-weight: bold;
}

.lista_listado li.entrada{
    background-color: rgb(244, 201, 184);
}

.lista_listado li.salida{
    background-color: rgb(197, 243, 197);
}

.lista_listado li .descripcion{
    font-size: small;
}

.lista_listado li .descripcion .tipoFirma{
    font-weight: bold;
}